@import '../../styles/variables';

.item-block {
  margin-top: 20px;
  min-height: 600px;
  background: #303141;
  padding: 45px;
  border-radius: 5px;
  border: 1px solid #4c6085;
  box-shadow: 0 0 20px rgba(44, 45, 51, 0.8);
  color: white;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
  }
}