$background-dark: #303141;
$background: #34384b;

$bg-input: #3d4862;
$bg-input-hover: rgba(76, 96, 133, 0.4);

$bg-input-transparent: rgba(76, 96, 133, 0.2);

$bg-button-green: #39e29d;
$bg-button-green-hover: rgb(57, 226, 157, 0.90);

$bg-button-primary: #5762d5;
$bg-button-primary-hover: rgb(87, 98, 213, 0.24);

$bg-button-secondary: #3f4254;
$bg-button-secondary-hover: #555867;

$icon-green: #39e29d;

$border-dark: 1px solid rgba(76, 96, 133, 0.5);