@import '../../styles/variables';

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item {
    background: $bg-input-transparent;
    transition: background-color 0.3s;
    border-radius: 4px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 0 15px;
    flex: 1 0 auto;
    color: white;
    &--group {
      flex: 0 0 auto;
      margin: 0;
      padding: 0;
      background: transparent;
      margin-left: -40px;
      margin-right: 20px;
      .filter__item {
        width: 172px;
        margin: 0;
        &:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 1px solid #4c6085;
        }
      }
    }
    img {
      width: 20px;
    }
    .filter {
      &__text {
        padding-left: 8px;
        font-size: 14px;
        letter-spacing: 0.68px;
        &--floating {
          font-size: 11px;
          filter: opacity(0.65);
          font-weight: 100;
          padding-bottom: 4px;
        }
        &-wrapper {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &--search {
      flex: 3 1 auto;
      img, span {
        filter: opacity(0.6); 
      }
      .filter__text {
        padding-left: 10px;
      }
    }
    &--select {
      .filter__text {
        padding-left: 15px;
      }
    }
    &--price {

    }
    &--type {

    }
    .select-arrow {
      width: 16px;
      margin-left: auto;
    }
  }
}