@import '../../styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $background-dark;
  padding: 0 15px;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: $border-dark;
  font-size: 14px;
  &__logo {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    padding: 0 40px 0 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    img {
      padding-bottom: 10px;
    }
  }
  &__nav {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    .nav__link {
      display: flex;
      align-items: center;
      span {
        padding-right: 8px;
      }
      &--currency {
        margin-left: auto;
      }
    }
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 20px;
      list-style-type: none;
    }
    li {
      padding: 24px;
    }
    a {
      letter-spacing: 0.68px;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
    }
  }
  &__actions {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    .action {
      &__cart {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        color: white;
        img {
          width: 20px;
          height: 20px;
        }
        span {
          padding-left: 4px;
        }
      }
      &__session {
        border: none;
        border-radius: 4px;
        width: 105px;
        height: 40px;
        background-color: $bg-button-green;
        transition: background-color 0.3s;
        &:hover {
          background-color: $bg-button-green-hover;  
        }
        img {
          width: 16px;
          height: 16px;
        }
        span {
          font-weight: 500;
          margin-top: 1px;
          padding-right: 8px;
          text-transform: uppercase;
        }
      }
    }
  }
  .icon {
    width: 16px;
    height: 14px;
    &__arrow {
      width: 11px;
      height: 7px;
    }
  }
}